<template>
    <div>
        <div class="q-gutter-sm q-mt-sm q-mb-lg">
            <q-item-label>Blog Categories: </q-item-label>
            <q-checkbox v-model="modalProp" val="Technology" label="Technology" color="teal" />
            <q-checkbox v-model="modalProp" val="Lifestyle" label="Lifestyle" color="orange" />
            <q-checkbox v-model="modalProp" val="Software"  label="Software" color="red" />
            <q-checkbox v-model="modalProp" val="Science" label="Science" color="cyan" />
        </div>
    </div>
</template>

<script>

export default {
  props: ['categories'],
  computed: {
    modalProp: {
      get () { return this.categories },
      set (val) { this.$emit('update:categories', val) }
    }
  }
}
</script>

<style scoped>

</style>
