<template>
    <q-btn no-caps rounded color="blue" :label="names" class="full-width q-mt-xs text-h6" type="submit"/>
</template>

<script>
export default {
  props: ['names']
}
</script>

<style scoped>
</style>
