<template>
    <q-input
            rounded
            outlined
            class="q-mb-xs"
            label="Username...."
            :rules="[val => !!val || 'Field is required']"
            v-bind:value="username"
            @input="$emit('update:username', $event)"
            ref="user"
            />
</template>

<script>
export default {
  props: ['username']
}
</script>

<style scoped>

</style>
