<template>
  <q-page class="q-pa-md">
    <banner-header bgColor="bg-orange">All Blog List</banner-header>
    <book-list :blogsData="blogsData"></book-list>
  </q-page>
</template>

<script>
// import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  data () {
    return {
      blogsData: []
    }
  },
  components: {
    'book-list': require('../components/Book/BookList.vue').default,
    'banner-header': require('../components/Shared/BannerPage').default
  },
  beforeCreate () {
    axios.get('http://localhost:5000/blogs/')
      .then(blog => {
        this.blogsData = blog.data
      })
  }
}
</script>
