<template>
<div>
  <update-blog :dataToSubmit="dataToSubmit"></update-blog>
</div>
</template>

<script>
import axios from 'axios'

export default {
  components: {
    'update-blog': require('../components/UpdateBook/UpdateBook').default
  },
  data () {
    return {
      dataToSubmit: {
        id: this.$route.params.id,
        title: '',
        content: '',
        publishDate: '',
        publishTime: '',
        authors: '',
        avatars: '',
        categories: []
      },
      submitted: false
    }
  },
  created () {
    axios.get('http://localhost:5000/blogs/' + this.$route.params.id)
      .then(dt => {
        this.dataToSubmit.categories = dt.data.categories
        this.dataToSubmit.title = dt.data.title
        this.dataToSubmit.content = dt.data.content
        this.dataToSubmit.publishDate = dt.data.publishDate
        this.dataToSubmit.publishTime = dt.data.publishTime
        this.dataToSubmit.authors = dt.data.authors
        this.dataToSubmit.avatars = dt.data.avatars
      })
  }
}
</script>

<style scoped>
</style>
