<template>
    <q-page class="q-pa-md">
        <detail-body :blog="blog"></detail-body>
    </q-page>
</template>

<script>
// import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  components: {
    'detail-body': require('../components/DetailBook/DetailBody').default
  },
  data () {
    return {
      blog: {
        id: this.$route.params.id,
        title: '',
        content: '',
        publishDate: '',
        publishTime: '',
        authors: '',
        avatars: '',
        categories: []
      }
    }
  },
  beforeCreate () {
    axios.get('http://localhost:5000/blogs/' + this.$route.params.id)
      .then(dt => {
        this.blog.title = dt.data.title
        this.blog.content = dt.data.content
        this.blog.publishDate = dt.data.publishDate
        this.blog.publishTime = dt.data.publishTime
        this.blog.authors = dt.data.authors
        this.blog.avatars = dt.data.avatars
        this.blog.categories = dt.data.categories
      })
  }
}
</script>

<style scoped>
</style>
