<template>
    <regis-comp></regis-comp>
</template>

<script>

export default {
  components: {
    'regis-comp': require('../components/Auth/Register').default
  }
}
</script>

<style scoped>
</style>
