<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title class="absolute-center">
          Awesome Blog
        </q-toolbar-title>
        <q-item size="25px" class="absolute-right q-mt-xs q-mr-xs" clickable v-ripple @click="signOut">
          <q-icon name="login" size="26px"></q-icon>
        </q-item>
        <q-footer elevated>
          <q-tabs>
            <q-route-tab v-for="link in essentialLinks" :key="link.title" :to="link.link" :icon="link.icon" :label="link.title"/>
          </q-tabs>
        </q-footer>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      :breakpoint="767"
      show-if-above
      bordered
      content-class="bg-primary"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-2"
        >
          Navigation Menu
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Blog Article',
    icon: 'library_books',
    link: '/blog'
  },
  {
    title: 'Add Book',
    icon: 'add',
    link: '/addBlog'
  }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },
  methods: {
    signOut () {
      localStorage.removeItem('username')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 768px) {
    .q-footer {
      display: none
    }
  }
  .q-drawer .q-router-link--exact-active {
    color: white !important;
  }
</style>
