<template>
    <div>
        <div class="row q-mt-sm justify-center">
            <q-item-section avatar class="column items-center">
                    <q-avatar size="100px">
                        <img :src="blog.avatars">
                    </q-avatar>
                <q-item-label caption class="q-mt-xs" lines="2">{{ blog.authors }}</q-item-label>
            </q-item-section>
            <div class="column items-center">
                <q-item-label :class="blog.title.length > 20 ? 'text-h4 text-center q-mb-sm' : 'text-h2 text-center q-mb-sm'" lines="2">{{ blog.title }}</q-item-label>
                <div class="row items-center">
                    <q-icon name="insert_invitation" size="25px" class="q-mr-xs"></q-icon>
                    <q-item-label caption>{{ blog.publishDate }} {{ blog.publishTime }}</q-item-label>
                    <q-icon name="category" class="q-mr-xs q-ml-md" size="25px"></q-icon>
                    <div class="row items-end" v-for="cats in blog.categories" :key="cats">
                        <q-item-label caption class="q-mr-xs">{{ cats }} | </q-item-label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <p class="text-justify q-mt-lg">{{ blog.content }}</p>
        <div class="q-mt-lg row justify-center">
            <q-btn outline rounded color="primary" label="Update Content" icon="autorenew" @click="goToUpdate"/>
        </div>
    </div>
</template>

<script>
export default {
  props: ['blog'],
  methods: {
    goToUpdate: function () {
      this.$router.push({ name: 'update', params: { id: this.blog.id } })
    }
  }
}
</script>

<style scoped>
</style>
