<template>
  <div class="fullscreen bg-blue text-white text-center flex flex-center">
    <div>
      <div style="font-size: 11vh">
          Awesome Blog
      </div>
      <div class="forms">
          <form @submit.prevent="onSubmit" @keypress:enter.prevent="onSubmit">
            <div class="text-h3 q-mb-lg text-primary">
                Login Page
                 <hr/>
                 <p class="text-h6 text-negative" v-if="wrong">Username or Password Is Wrong!</p>
            </div>
            <username-comp :username.sync="auth.username" ref="username"></username-comp>
            <password-comp :password.sync="auth.password" ref="password"></password-comp>
            <button-comp names="Login"></button-comp>
        </form>
        <q-btn flat class="text-primary q-mt-sm" label="Don't Have An Account? Register" to="/register"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  components: {
    'username-comp': require('../Shared/FormComponent/Auth/Username').default,
    'password-comp': require('../Shared/FormComponent/Auth/Password').default,
    'button-comp': require('../Shared/FormComponent/Auth/ButtonAuth').default
  },
  data () {
    return {
      auth: {
        username: '',
        password: ''
      },
      wrong: false
    }
  },
  methods: {
    onSubmit () {
      this.$refs.username.$refs.user.validate()
      if (!this.$refs.username.$refs.user.hasError) {
        this.$refs.password.$refs.pass.validate()
        if (!this.$refs.password.$refs.pass.hasError) {
          axios.post('http://localhost:5000/users/login', this.auth)
            .then(dt => {
              if (dt.data !== 'x') {
                this.wrong = false
                localStorage.username = dt.data[0].username
                this.$router.push({ name: 'pagebook' })
              } else {
                this.wrong = true
              }
            })
        }
      }
    }
  }
}
</script>

<style scoped>
    .forms {
        border-radius: 25px;
        background: whitesmoke;
        padding: 50px;
    }
</style>
